
<!DOCTYPE html>
<html>
    <head>
        <script src="/static/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#add_atm").click(function(){
                    alert("hi")
                    $('#atms_bd').prepend($('<tr contenteditable="true"><td>0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button type="button" class="btnSave">Save</button></td></tr>'));
                });

                $("#atms_bd").on('click','.btnDelete',function(){
                    $(this).closest('tr').remove();
                });

                $("#atms_bd").on('click','.btnUpdate',function(){
                    $(this).closest('tr').attr("contenteditable", 'true');
                });

                $('#atms_bd').on('click', 'btnSave', function() {
                    //var first = $(this).find('td:eq(1)').text();
                    var second = $(this).closest('tr').find('td:eq(1)').text();
                    alert(second);
                   
                });
            });

        </script>
    </head>
    <style>
       table{
  width: 100%;
  border-collapse: collapse;
}

table td{
  border: 1px solid black;
}
button:hover{
  cursor: pointer;
}

        /* tbody { */
            /* overflow: scroll; */
            /* max-height: 500px; */
        /* } */
    </style>
    <!-- <form>
        Username: <input type="text" id="u_id"  ><br>
        Password: <input type="password" id ="passwd" ><br>

        <input type="button" id="register"  value="Register">
    </form> -->

    <!-- <ol> -->
        <!-- For loop logic of jinja template -->
        <!-- {%for i in range(0, len)%} -->
          
            <!-- <li>H.No:{{atms[i].address.housenumber}}, {{atms[i].address.street}}, {{atms[i].address.city}}, {{atms[i].address.postalcode}}</li> -->

            
        <!-- {%endfor%} -->
          
     <!-- </ol> -->
    <div>
        <button style="float:right;" id="add_atm">Add New ATM</button>
    </div>
     <table style="width:100%", border="1" id="atms">
        <caption><b>Dutch ATM's List</b></caption>
        <thead style="font-weight:bold;"> 
            <tr><td>UID</td><td>H.No</td><td>Street</td><td>City</td><td>Postal Code</td><td>Geo Location</td><td>distance</td><td>Functionality</td><td>Type</td><td>Opening Hours</td><td>Action</td></tr>
        </thead>
        <tbody id="atms_bd">
        {%for i in range(0, len)%}
            <tr>
                <td>{{atms[i].uid}}</td>             
                <td>{{atms[i].address.housenumber}}</td>
                <td>{{atms[i].address.street}}</td>
                <td>{{atms[i].address.city}}</td>
                <td>{{atms[i].address.postalcode}}</td>

                <td>lat:{{ atms[i].address.geoLocation.lat }}, lang: {{ atms[i].address.geoLocation.lng }}</td>

                <td>{{atms[i].distance}}</td>
                <td>{{atms[i].functionality}}</td>
                <td>{{atms[i].type}}</td>
                <td>
                   {%for j in range(0, 7) %}
                   
                    Day{{ atms[i].openingHours[j].dayOfWeek }}:
                        {%for hours in atms[i].openingHours[j].hours %}
                            {{ hours.hourFrom }} -  {{ hours.hourTo }},
                        {%endfor%}
                    {%endfor%}
                    
                    

                </td>
                <td> <button type='button' class='btnUpdate'>Edit</button><button type='button' class='btnDelete'>Remove</button> </td> 
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</html>